{% extends "base.html" %}

{% block content %}

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Instach</a>
      </div>
    </div>
  </nav>

  {% for image in images %}

  <div class="well">
      <div class="media">
        <a class="pull-left" href="#">
        <img class="media-object" src='{{ image.image.url }}' width="350" height="350"></a>
      <div class="media-body">
        <h3 class="media-heading">User: {{ image.user.username }}</h3>
          <p>Description: {{ image.description }}</p>
      </div>
      </div>
  </div>

  {% endfor %}
  

{% endblock %}
