<html lang="ru">
<div style="background-color:#f9f9f9">

  <div style="margin:0px auto;max-width:640px;background:transparent">
    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:transparent" align="center" border="0">
      <tbody><tr><td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 0px">
        <div aria-labelledby="mj-column-per-100" class="m_304884238279787800mj-column-per-100" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%"><table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
          <tbody>
          <tr>
            <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
              <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                <tbody><tr><td style="width:138px">
                  <a href="https://discordapp.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://discordapp.com/&amp;source=gmail&amp;ust=1573901179307000&amp;usg=AFQjCNH8xzbGzPGepwDLqr1AZMB2cUZUBA">
                    <img alt="" title="" height="138px" src="https://scontent-lhr3-1.cdninstagram.com/v/t51.2885-15/e35/66654249_1213378118854659_3045084963897672313_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&_nc_cat=103&se=8&oh=739928128069ab5c175c3b7177a9bf17&oe=5E162133&ig_cache_key=MjEwODk1MzkwNDI0MTkxMjk1MA%3D%3D.2" width="138" class="CToWUd">
                  </a>
                </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div style="max-width:640px;margin:0 auto;border-radius:4px;overflow:hidden">
    <div style="margin:0px auto;max-width:640px;background:#ffffff">
      <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#ffffff" align="center" border="0">
        <tbody>
        <tr>
          <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:40px 50px">
            <div aria-labelledby="mj-column-per-100" class="m_304884238279787800mj-column-per-100" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
              <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tbody>
                <tr>
                  <td style="word-break:break-word;font-size:0px;padding:0px" align="left">
                    <div style="color:#737f8d;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:16px;line-height:24px;text-align:left">
                      <h2 style="font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:500;font-size:20px;color:#4f545c;letter-spacing:0.27px">Hi, {{ first_name}}!</h2>
                      <p>Thanks for <span class="il">registration</span> on Pinsta! Click to verify your email address:</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-top:20px" align="center">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate" align="center" border="0">
                      <tbody>
                      <tr>
                        <td style="border:none;border-radius:3px;color:white;padding:15px 19px" align="center" valign="middle" bgcolor="#7289DA">
                          <a href="https://discordapp.com/verify?token=eyJpZCI6NjEyNTkwNTI0MTg0MTMzNjMzLCJlbWFpbCI6ImthcmluYS55ZXNidWtlbm92YUBnbWFpbC5jb20ifQ.XVklfQ.ra3ib8yz0qi1OETDuESeNd2aJzE" style="text-decoration:none;line-height:100%;background:#7289da;color:white;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;text-transform:none;margin:0px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://discordapp.com/verify?token%3DeyJpZCI6NjEyNTkwNTI0MTg0MTMzNjMzLCJlbWFpbCI6ImthcmluYS55ZXNidWtlbm92YUBnbWFpbC5jb20ifQ.XVklfQ.ra3ib8yz0qi1OETDuESeNd2aJzE&amp;source=gmail&amp;ust=1573901179307000&amp;usg=AFQjCNEg6ABaDG8NxgIdhXUVATRyCuOpcw">Confirm e-mail</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="word-break:break-word;font-size:0px;padding:30px 0px"><p style="font-size:1px;margin:0px auto;border-top:1px solid #dcddde;width:100%">

                  </p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px">
    <div aria-labelledby="mj-column-per-100" class="m_304884238279787800mj-column-per-100" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
      <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
        <tbody>
        <tr>
          <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
            <div style="color:#99aab5;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:12px;line-height:24px;text-align:center">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Submitted by Korka - </font>
              </font>
              <a href="https://blog.discordapp.com/" style="color:#1eb0f4;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://blog.discordapp.com/&amp;source=gmail&amp;ust=1573901179307000&amp;usg=AFQjCNFTTNN8CYcP1KNCDdgRTEJxHcbdkQ">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Check out our site</font>
                </font>
              </a>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;"> - </font>
              </font>
              <a href="https://twitter.com/discordapp" style="color:#1eb0f4;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/discordapp&amp;source=gmail&amp;ust=1573901179307000&amp;usg=AFQjCNEHvUL9xKWZ4_EYE-HwKszsIEJ98w">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">www.pinsta.ml</font>
                </font>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
            <div style="color:#99aab5;font-family:Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-size:12px;line-height:24px;text-align:center">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">444 De Haro Street, Suite 200, San Francisco, CA 94107</font>
              </font>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </td>

</div>
</html>